
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url('images/life-is-strange.jpg') no-repeat center center fixed;
    background-size: cover;
}

footer {
    margin: 50px 0;
}


.almostWell {
  
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    background-color: #3b994c;
    border: 1px solid #2d723a;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}